body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
}
